<link rel="stylesheet" href="product.css">
<div class="product-item">
    <img class="product-image" src="/components/51WHgHxF5YL._AC_UF1000,1000_QL80_.jpg" alt="product" >
    <img class="product-image2" src="/components/like-106.png" alt="product" >
    <p class="title">The cat, commonly referred to as the domestic cat</p>
    <div class="star-cont">
    <img class="img3" src="/components/A_star.png">
    <img class="img3" src="/components/A_star.png">
    <img class="img3" src="/components/A_star.png">
    <img class="img3" src="/components/A_star.png">
    <img class="img3" src="/components/A_star.png">
    <p class="price"> free</p>
</div>
<div>
   
</div>
